name: Norminette 42

on: [push]
jobs:
  norminette:
    runs-on: ubuntu-latest
    steps:
      - name: Call ssh setup actions
        uses: ./.github/actions/ssh
      - name: Clone by the runner
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: python3 -m pip install -U norminette
      - name: Install fish
        run: sudo apt-get update && sudo apt install -y fish
      - name: Norminette "libft"
        run: norminette ${{ github.workspace }}/libft
      - name: Norminette "minishell"
        shell: fish {0}
        run: norminette ${{ github.workspace }}/src ${{ github.workspace }}/includes | ! grep "Error"