name: Norminette 42

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'meson.build'
      - 'Makefile'
      - 'README.md'
      - 'shell.nix'
      - '.envrc'
      - 'flake.nix'
      - 'flake.lock'

jobs:
  norminette:
    runs-on: ubuntu-latest
    steps:
      - name: Clone by the runner
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Init Submodules
        uses: ./.github/actions/submodules
        with:
          ssh_private_key: ${{ secrets.SSH_KEY_PRIVATE }}
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: python3 -m pip install -U norminette
      - name: Norminette "libft"
        run: norminette ${{ github.workspace }}/subprojects/libft
      - name: Norminette "minishell"
        shell: bash
        run: |
          ! norminette src/ includes/ | grep -E ".+\.[ch]: Error\!|^Error:"
