name: Norminette 42

on: [push]
jobs:
  norminette:
    runs-on: ubuntu-latest
    steps:
      - name: Clone by the runner
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Init Submodules
        uses: ./.github/actions/submodules
        with:
          ssh_private_key: ${{ secrets.SSH_KEY_PRIVATE }}
      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: python3 -m pip install -U norminette
      - name: Install fish
        run: sudo apt-get update && sudo apt install -y fish
      - name: Norminette "libft"
        run: norminette ${{ github.workspace }}/subprojects/libft
      - name: Norminette "minishell"
        shell: fish {0}
        run: norminette ${{ github.workspace }}/src ${{ github.workspace }}/includes | ! grep "Error"