name: Test Minishell

on:
  push:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'

jobs:
  testing-minishell:
    runs-on: ubuntu-latest
    steps:
      - name: Clone by the runner
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Init Submodules
        uses: ./.github/actions/submodules
        with:
          ssh_private_key: ${{ secrets.SSH_KEY_PRIVATE }}
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libreadline-dev
      - name: Compile Minishell
        run: make -j
      - name: list file
        run: ls ${{ github.workspace }}