name: Test Minishell

on: [push]
jobs:
  testing-minishell:
    runs-on: ubuntu-latest
    steps:
      - name: Clone by the runner
        uses: actions/checkout@v4
        with:
          submodules: true
          ssh-key: ${{ secrets.SSH_KEY_PRIVATE }}
          ssh-known-hosts: 'git.0verlight.com'
          persist-credentials: false
          fetch-depth: 0
      - name: Compile Minishell
        run: make -j
      - name: list file
        run: ls ${{ github.workspace }}