name: Test Minishell

on: [push]
jobs:
  testing-minishell:
    runs-on: ubuntu-latest
    steps:
      - name: Call ssh setup actions
        uses: ./.github/actions/ssh
      - name: Clone by the runner
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Compile Minishell
        run: make -j
      - name: list file
        run: ls ${{ github.workspace }}