name: Test Minishell

on: [push]
jobs:
  testing-minishell:
    runs-on: ubuntu-latest
    steps:
      - name: Clone by the runner
        uses: actions/checkout@v4
      - name: list file
        run: ls ${{ github.workspace }}